<%- include('header'); -%>

<header>
    <h1>Virtual contest creator</h1>
  </header>

<main>
  <% if (user) { %>
    <p>Hello <%= user.username %> </p>
    <a class='codechef-btn' href='/contest/create'>Create new virtual contest </a>
    <p>Here the list of contest you have created:</p>
    <ul>
      <% for (var i = 0; i < user.contests.length; i++) { %>
        <% var contest = user.contests[i] %>
        <li><a href='/contest/<%= contest._id %>'> <%= contest.name %></a> </li>
      <% } %>
    </ul>
  <% } else { %>
      <p>Please log in (: </p>
  <% } %>

</main>

<%- include('footer'); -%>
