<%- include('../header'); -%>

<% if (contest.timeToEnd < 0) { %>
    <header>
        <h1> The contest has ended </h1>
    </header>
<% } else { %>
    <header>
        <h1> Now runing: <%= contest.name %> </h1>
        <span> time to finish: <%= contest.timeToEnd / 1000 %> seconds </span>
    </header>

    <main>
        <table class='table'>
            <tr>
                <th>User</th>
                <% for (let i = 0; i < contest.problemsList.length; i++) { %>
                    <th>
                        <a href='https://www.codechef.com/problems/<%= contest.problemsList[i].problemCode %>' target='_blank'>
                            <%= contest.problemsList[i].problemCode %>
                        </a>
                    </th>
                <% } %>
                <th style="background-color: #117777;">TOTAL</th>
            </tr>
            <% for (let i = 0; i < standings.length; i++) { %>
                <tr>
                    <td> <%= standings[i][0] %> </td>
                    <% for (let j = 1; j < standings[i].length - 1; j++) { %>
                    <td>
                        <% if (standings[i][j].solved) { %>
                            +<%= standings[i][j].submissions %> / <%= standings[i][j].time %>
                        <% } %>
                    </td>
                    <% } %>
                    <td>
                        <%= standings[i][standings[i].length - 1] %>
                    </td>
                </tr>
            <% } %>
        </table>
    </main>
<% } %>

<%- include('../footer'); -%>
